<div class="card">
<mat-card style="margin-left: 5px;">
  <mat-card-header>
    <mat-card-title id="corpsebride">Corpse Bride</mat-card-title>
    <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="path-to-image" alt="Card image"> -->
  <mat-card-content>
    <p>This is the content of the card.</p>
  </mat-card-content>
  <!-- <mat-card-actions>
  </mat-card-actions> -->
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title id="beetlejuice"> Beetlejuice</mat-card-title>
    <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="path-to-image" alt="Card image"> -->
  <mat-card-content>
    <p>This is the content of the card.</p>
  </mat-card-content>
  <!-- <mat-card-actions>
  </mat-card-actions> -->
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title id="alice"> Alice in Wonderland </mat-card-title>
    <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="path-to-image" alt="Card image"> -->
  <mat-card-content>
    <p>This is the content of the card.</p>
  </mat-card-content>
  <!-- <mat-card-actions>
  </mat-card-actions> -->
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title id="chocolatefactory">Charlie and the Chocolate Factory </mat-card-title>
    <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="path-to-image" alt="Card image"> -->
  <mat-card-content>
    <p>This is the content of the card.</p>
  </mat-card-content>
  <!-- <mat-card-actions>
  </mat-card-actions> -->
</mat-card>
</div>
