
<div class="watchedmovies"> Most Watched Movies </div>
<div class="card">

  <mat-card  style="margin-left: 5px">
  <mat-card-header>
    <mat-card-title>Corpse Bride</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/bride.jpg" alt="Card image" />
  <div class="content">
  <mat-card-content>Year: 2005</mat-card-content>
  <mat-card-content>Writer: Tim Burton</mat-card-content>
  <mat-card-content>Country: United States</mat-card-content>
  <mat-card-content>Language: English</mat-card-content>
</div>
</mat-card>

<mat-card >
  <mat-card-header>
    <mat-card-title> Beetlejuice </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/beetlejuice.jpg" alt="Card image">
  <div class="content">
    <mat-card-content>Year: 1988</mat-card-content>
    <mat-card-content>Writer: Tim Burton</mat-card-content>
    <mat-card-content>Country: United States</mat-card-content>
    <mat-card-content>Language: English</mat-card-content>
  </div>
</mat-card>
<mat-card >
  <mat-card-header>
    <mat-card-title> Alice in Wonderland </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/alice.jpg" alt="Card image">
  <div class="content">
    <mat-card-content>Year: 2010</mat-card-content>
    <mat-card-content>Writer: Tim Burton</mat-card-content>
    <mat-card-content>Country: United States</mat-card-content>
    <mat-card-content>Language: English</mat-card-content>
  </div>
</mat-card>
<mat-card id="chocolatefactory" style="margin-right: 5px;">
  <mat-card-header>
    <mat-card-title> Charlie and the Chocolate Factory </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/charlie.jpg" alt="Card image">
  <div class="content">
    <mat-card-content>Year: 2005</mat-card-content>
    <mat-card-content>Writer: Tim Burton</mat-card-content>
    <mat-card-content>Country: United States</mat-card-content>
    <mat-card-content>Language: English</mat-card-content>
  </div>
</mat-card>
</div>
