<div class="background">
  <div class="slider-center">
   <ul class="slider">
      <li>
        <input type="radio" id="slide1" name="slide" checked>
        <label for="slide1"></label>
            <img src="/TimBurton.jpg" />
      </li>
      <li>
        <input type="radio" id="slide2" name="slide">
        <label for="slide2"></label>
            <img src="/characters.jpg" />
      </li>
      <li>
        <input type="radio" id="slide3" name="slide">
        <label for="slide3"></label>
            <img src="/exhibition.jpg" />
      </li>
  </ul>
</div>
</div>
