@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
margin: 0;
text-decoration: none;
list-style-type: none;
color: inherit;
font-family: "Rock Salt", cursive;
font-weight: 400;
font-style: normal;
}

header {
  background-color: black;
  padding: 10px 10px 10px 0px;
  display: flex;
  align-items: center;

}

ul {
display: flex;
padding-left: 10px;
justify-content: left;
color: white;

}

li {
padding-right: 25px;
padding-left: 20px;
}

li:hover {
background-color: #4e008e;
border-radius: 5px;
}

.title {
color: black;
font-size: 20px;
text-align: right;
margin-left: auto;
padding-right: 15px;
padding-left: 15px;
border-radius: 5px;
text-shadow:
 1px 1px 2px #ffff,
0 0 1em #ffffff,
0 0 0.2em #fff;
background-color: #46295a;
}
